/* font styles added */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
  /* ---------------------------- */
  /* ---------------------------- */
body{
    margin: 0px;
    padding: 0px;
}
  /* Header style started */
.header{
    background: rgba(255, 144, 14, 0.1);

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 240px;
    padding-top: 50px;
  }
.site-logo h2{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
  }
  nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 18px;
  }
  ul li a{
    text-decoration: none;
    color: #424242;
  }
  /* nav ended */
/* header title started */
.heading{
    margin: 0px 240px 50px 240px;
    text-align: center;
}
.header-title{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}
.header-description{
    color: #727272;
    margin-top: 32px;
    margin-bottom: 32px;
}
.explore-btn{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.heading-bannar{
    margin: 0px 240px;


}
.heading-bannar img{
    border-radius: 8px;
    width: 100%;
    margin-bottom: 45px;
}
/* header title ended */
   /* Header style ended */
   main{
    margin: 0px 240px;
   }
   section{
    margin-top: 85px;
   }
   /* quick list section started */
   /* .qucik-list-section{
    display: flex;
    gap: 75px;
    align-items: center;
    
   } */
.qucik-list-section img{
    width: 100%;
    height: 100%;
}
   .qucik-list-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px;
    align-items: center;
    
   }
   .team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
   }
.quick-list-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.quick-list{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.features{
    font-size: 45px;
    color: #FF900E;
}
.quick-description{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}
/* quick section ended */
/* love and enjoy section style started */
.love-contain{
    display: flex;
    gap: 54px;
    flex: 1 1;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.love-title-main{
    display: flex;
    gap: 20px;
    align-items: center;

}
.love-title-line{
    width: 5px;
    height: 106px;
    background: #FF900E;
}
.love-section-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.love-text p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.love-text h4{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.love-box{
    padding: 30px;
    margin-bottom: 20px;
    background: #FFFFFF;
    width: 50%px;
    height: 50%;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.love-photo img{
    width: 100%;
    height: 100%;
}
.experience-btn{
    width: 342px;
    height: 200px;
    background: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}
.exp-year{
    font-weight: 700;
    font-size: 65px;
}